@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "cyberpunk";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(29% 0.066 243.157);
    --color-base-200: oklch(39% 0.09 240.876);
    --color-base-300: oklch(44% 0.11 240.79);
    --color-base-content: oklch(95% 0.026 236.824);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(70% 0.015 286.067);
    --color-secondary-content: oklch(14% 0.005 285.823);
    --color-accent: oklch(74% 0.16 232.661);
    --color-accent-content: oklch(29% 0.066 243.157);
    --color-neutral: oklch(29% 0.066 243.157);
    --color-neutral-content: oklch(97% 0.013 236.62);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
  }
  
